
<header>
    <section id="top" class="jumbotron jumbotron-fluid w-100">   
    </section>
</header>

<ul class="list-group list-unstyled list-group-horizontal">
    <li class="w-50"><a class="list-group-item list-group-item-action text-center fs-5 color-theme" href="../posts">Posty</a></li>
    <li class="w-50"><a class="list-group-item list-group-item-action text-center fs-5 color-theme" href="../resolutions">Uchwały</a></li>
</ul>

<div class="container fluid">   
    <h2 class="text-center display-5">Osiedle Nowa Osada </h2>
    <h2 class="text-center display-5">Wrocław, ul. Spacerowa 12</h2> <br/>    
</div>

<div class="container-fluid d-md-flex flex-md-row">
    <div id="dane" class="d-flex align-items-center flex-column">      
        <h3 class="display-6">Zarządca: Martyna K.</h3>
        <p class="fs-5 text-center"><i class="fa fa-map-marker fs-5"></i> Biuro Zarządcy: Osiedle Nowa Osada, ul. Spacerowa 12/1, Wrocław</p>
        <p class="fs-5"><i class="fa fa-phone fs-5" aria-hidden="true"></i> +48 767 555 469 </p>
        <p class="fs-5"><i class="fa fa-envelope fs-5"></i> admin@ruby.pl </p>
    </div>
    <div id="contact_form">
        <section id="section-contact" style=" padding-bottom: 10%">
            <h3 class="display-6 text-center">Formularz kontaktowy</h3>
            <div class="d-flex justify-content-center">
                <form class="rounded msg-form">
                    <div class="form-group mb-2"> 
                        <div class="input-group border rounded">
                            <div class="input-group-addon px-2 pt-1">
                                <p class="fa fa-user"></p>
                            </div> 
                            <input type="text" class="form-control border-0 bg-transparent" placeholder="Imie">
                        </div>
                    </div>
                    <div class="form-group mb-2"> 
                        <div class="input-group border rounded">
                            <div class="input-group-addon px-2 pt-1"> 
                                <i class="fa fa-phone"></i> 
                            </div> 
                            <input type="number" class="form-control border-0 bg-transparent mb-0" placeholder="Telefon">
                        </div>
                    </div>
                    <div class="form-group mb-2"> 
                        <div class="input-group border rounded">
                            <div class="input-group-addon px-2 pt-1"> 
                                <i class="fa fa-envelope"></i> 
                            </div> 
                            <input type="email" class="form-control border-0 bg-transparent mb-0" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">  
                        <textarea name="message" id="msgus" cols="10" rows="5" class="form-control bg-light bg-transparent" placeholder="Wiadomość"></textarea> 
                    </div>

                    <div class="form-group d-flex justify-content-end"> 
                        <input type="submit" class="btn btn-primary btn-dark text-white" value="Wyślij wiadomość"> 
                    </div>
                </form>
            </div>
        </section>
        
    </div>
</div>
