<div class="main">
  <div class="container-logo">
    <center>
    <div id="session" class="middle">     
        <p>Witaj <%= @resource.email %>!</p><br/>
        <p>Kontaktujemy się z Tobą, aby powiadomić Cię, że Twoje hasło zostało zmienione.</p>
        <div class="clearfix"></div>      
    </div>
    </center>
  </div>
</div>



